@charset "gb2312";
/* CSS Document by blackTea */
body, h1, h2, h3, h4, h5, h6, hr, p,  blockquote, dl, dt, dd, ul, ol, li, pre,form, fieldset, legend, button, input,textarea, th, td, img{border:medium none;margin:0;padding:0;-webkit-tap-highlight-color:rgba(255,255,255,0)} 
 h1, h2, h3, h4, h5, h6{font-weight:normal} 
*{margin:0;padding:0}  
body{position:relative;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;min-width:320px;font-size:0.24rem;color:#e2ab70;font-family:\5FAE\8F6F\96C5\9ED1, "Helvetica Neue",Helvetica,STHeiTi,sans-serif;background:#120907;}
ul, ol, li{list-style:none}       
a {text-decoration:none;color:#333;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);cursor:pointer}    
a:active {text-decoration:none;color:#F40}       
img{border:0px;vertical-align:top;width:100%;-webkit-tap-highlight-color:rgba(0,0,0,0)}       
table {border-collapse:collapse;border-spacing:0} 
em,i{font-style:normal}
.cf:after{content:'';display:block;height:0;clear:both}
.fl{float:left}
.fr{float:right}
input,textarea{outline:none}
input[type="submit"], input[type="reset"], input[type="button"], button {-webkit-appearance:none}
input{vertical-align:middle;font-size:inherit;cursor:pointer}
.w{width:7.5rem;margin:0 auto;position:relative;}

.m1{background:url(../images/m1.jpg) no-repeat center top;height: 2.8rem;background-size:auto 2.8rem;overflow: hidden;}
.m2{background:url(../images/m2.jpg) no-repeat center top;height: 3.46rem;background-size:auto 3.46rem;overflow: hidden;}
.m3{background:url(../images/m3.jpg) no-repeat center top;height: 6.86rem;background-size:auto 6.86rem;overflow:hidden;}
.login-box{float:right;margin-top:18px;margin-right:.3rem; }
.login-box a.login-btn{border: 2px solid #da9e5c;background:#1a140f url(../images/user_icon.png) no-repeat .1rem center;background-size: .18rem .2rem;display: block;height: .42rem;line-height: .42rem;color:#f9d58d;padding:0 .15rem 0 .36rem;border-radius: .21rem;}
.login-box p{text-align: right;font-size: .36rem;}
.login-box p span{margin-left: .16rem;}
.login-box p em{float:right;max-width:2.5rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
/* .m2 p{width: 4.85rem;margin:.9rem auto 0;color:#ce996b;} */
.m2 a{width: 2.71rem;height: .79rem;margin:1.8rem auto 0;display: block;background:url(../images/go_join.png) no-repeat;background-size: 2.71rem .79rem;-webkit-animation: scali 1s ease infinite alternate;animation: scali 1s ease infinite alternate; }
.m2 p{height:.54rem;line-height:.54rem;text-align:center;font-size:.3rem;}
.m3 .p1{margin-top: .64rem;height: .96rem;line-height: .96rem;font-size:.3rem; text-align: center;}
.p1 span{margin-left:.25rem;}
.m3 .p2{width: 5rem;margin:1rem auto 0;text-align: center;height:1rem; }
.m3 a{width: 5.4rem;margin: .27rem auto 0;display: block;height:.68rem;line-height: .68rem; border-radius: .1rem;text-align: center;color:#fff;background-image:-webkit-linear-gradient(to bottom, #d59b51, #ab6f30); background-image:linear-gradient(to bottom,#d59b51,#ab6f30);text-shadow: 0 0 1px #333}
@keyframes scali
{
    from {-webkit-transform: scale(.8);transform: scale(.8)}
    to {-webkit-transform: scale(1);transform: scale(1)}
}
@-webkit-keyframes scali /*Safari and Chrome*/
{
    from {-webkit-transform: scale(.8);transform: scale(.8)}
    to {-webkit-transform: scale(1);transform: scale(1)}
}
footer{margin-top:1.1rem;position: relative;height: 1.24rem;border-top:1px solid #261a13; color:#d9b65c;text-align: center;}
footer::before{content: "";width: 3.98rem;height: .75rem;background: url(../images/footer_bg.png) no-repeat;background-size: 3.98rem .75rem;left: 50%;margin-left: -1.89rem;position: absolute;top: -.75rem;}
footer p:nth-child(1){padding-top: .2rem;}

/* pop */
.pop{width:6.58rem;background:#2E286D;border:1px solid #987B46;position:relative}
.pop .it{width:25px;height:23px;overflow:hidden;background:url(../images/popit.png) no-repeat;background-size:100px 23px;position:absolute}
.pop .lt{background-position:0 0;left:-2px;top:-2px}
.pop .rt{background-position:-25px 0;right:-2px;top:-2px}
.pop .lb{background-position:-50px 0;left:-2px;bottom:-2px}
.pop .rb{background-position:-75px 0;right:-2px;bottom:-2px}
.pop .inner{padding:0.3rem 0.42rem;line-height:0.48rem;font-size:0.3rem;color:#968df6}
.pop .close{background:url(../images/close.png) no-repeat;background-size:100% 100%;width:0.92rem;height:0.82rem;overflow:hidden;line-height:99;position:absolute;right:-0.2rem;top:-0.3rem}

.dialog-mask{background:rgba(0,0,0,.8);position:absolute;top:0;left:0;right:0;z-index:99}
.dialog-content{position:absolute;z-index:100;background:none;border:none;left:50%;width: 6.58rem;margin-left: -3.3rem}